* {
  box-sizing: border-box;
}
body {
  font-size: 3vh;
  background: grey;
  color: white;
  text-shadow: 0 0 2px #aaa;
}
.keyboard {
  margin: 30px auto;
  width: 90%;
  height: 450px;
  background: #bbb;
  padding: 30px 80px;
  border-radius: 10px;
  border-bottom: 6px solid #999;
}
.key-row {
  display: flex;
  margin: 0 auto 7px;
  line-height: 50px;
}
.key {
  background: #444;
  margin: 0 6px 0 0;
  text-align: center;
  height: 57px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
  border-radius: 4px;
}
.one {
  flex: 1;
} /* one */
.one-one-half {
  flex: 1.5;
} /* One and one half */
.two {
  flex: 2;
} /* two */
.two-two-half {
  flex: 2.5;
} /* Two and two half */
.three {
  flex: 3;
} /* three */
.five {
  flex: 5;
}
.half {
  flex: 0.5;
}
.key:hover {
  box-shadow: 0 0 10px 0 black;
  font-size: 200%;
}
.key:active {
  background: white;
}
